body {
  background-color: #1a1a1a;
  color: white;
}

.homeContainer {
  margin: auto 0;
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.fourSquareContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

/* .siteName {
  position: absolute;
  font-size: 54px;
  margin: auto;
  z-index: 1;
  width: 70%;
  padding-top: 10%;
  padding-left: 8%;
}

.slogan {
  left: 21%;
  z-index: 1;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
} */

.homeBanner__square1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBanner__square1 > h1 {
  position: absolute;
  margin: auto;
  z-index: 1;
  font-size: 52px;
  font-family: "Major Mono Display", monospace;
  /* font-family: "Poppins", sans-serif; */
}

.homeBanner__square1 > h4 {
  position: absolute;
  margin: auto;
  z-index: 1;
  margin-top: 10%;
  text-decoration: underline;
  font-size: 14px;
}

.homeBanner__square1 > img {
  width: 100%;
  z-index: -1;
  filter: brightness(35%);
}

.homeBanner__square2 {
  text-align: left;
  align-items: center;
  width: 100%;
}

.homeBanner__square2 > h4 {
  margin: auto;
  width: 70%;
  padding-top: 20%;
}

.homeBanner__square3 {
  width: 100%;
}

.homeBanner__square3 > h4 {
  margin: auto;
  width: 70%;
  padding-top: 20%;
}

.homeBanner__square4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBanner__square4 > h4 {
  position: absolute;
  font-size: 36px;
  margin: auto;
  z-index: 1;
  font-family: "Major Mono Display", monospace;
}

.homeBanner__square4 > img {
  z-index: -1;
  width: 100%;
  filter: brightness(45%);
}

.aboutSection {
  width: 45%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  line-height: 2;
}

.productPreview {
  color: black;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: space-evenly;
}

.bestSeller {
  align-items: center;
  width: 20%;
  padding: 10px;
}

.bestSeller > img {
  width: 55%;
}

.dealDay {
  padding: 10px;
  width: 20%;
}

.dealDay > img {
  width: 55%;
}

.newArrival {
  padding: 10px;
  width: 20%;
}

.newArrival > img {
  width: 40%;
}

.ads {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  filter: brightness(80%);
  align-items: center;
  margin: auto;
}

.ads > img {
  width: 20%;
  height: 20%;
}

.productsText {
  width: 50%;
  padding: 5%;
}

.homeBanner__square4:hover {
  filter: contrast(80%);
  transition: 0.7s ease-in-out;
  transform: scale(0.9);
  cursor: pointer;
}

.dealDay:hover {
  cursor: pointer;
}
