body {
  background-color: #1a1a1a;
  color: white;
}

.homeContainer {
  margin: auto 0;
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.fourSquareContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.homeBanner__square1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBanner__square1 > h1 {
  position: absolute;
  margin: auto;
  z-index: 1;
  font-size: 36px;
  font-family: "Major Mono Display", monospace;
}

.homeBanner__square1 > h4 {
  position: absolute;
  margin: auto;
  z-index: 1;
  margin-top: 7%;
  font-size: 14px;
  font-family: "Major Mono Display", monospace;
}

.homeBanner__square1 > img {
  width: 100%;
  z-index: -1;
  filter: brightness(35%);
}

.homeBanner__square2 {
  text-align: left;
  align-items: center;
  width: 100%;
}

.homeBanner__square2 > h4 {
  margin: auto;
  width: 70%;
  padding-top: 15%;
  font-family: "Major Mono Display", monospace;
  line-height: 28px;
}

.homeBanner__square3 {
  width: 100%;
}

.homeBanner__square3 > h4 {
  margin: auto;
  width: 70%;
  padding-top: 15%;
  font-family: "Major Mono Display", monospace;
  line-height: 28px;
}

.homeBanner__square4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBanner__square4 > h4 {
  color: white;
  position: absolute;
  font-size: 36px;
  margin: auto;
  z-index: 1;
  font-family: "Major Mono Display", monospace;
}

.homeBanner__square4 > img {
  z-index: -1;
  width: 100%;
  filter: brightness(45%);
}

.aboutSection {
  color: white;
  width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  line-height: 2;
  font-family: "Major Mono Display", monospace;
  font-size: 16px;
}

.productPreview {
  color: black;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: space-evenly;
}

.bestSeller {
  text-align: center;
  align-items: center;
  width: 20%;
  padding: 10px;
}

.bestSeller > img {
  margin: auto;
  width: 50%;
}

.dealDay {
  text-align: center;
  padding: 10px;
  width: 20%;
}

.dealDay > img {
  width: 55%;
}

.priceContainer {
  display: inline-flex;
}

.priceContainer > h5 {
  color: red;
  text-decoration: line-through;
  padding-left: 10px;
}

.newArrival {
  text-align: center;
  padding: 10px;
  width: 20%;
}

.newArrival > img {
  width: 40%;
}

.ads {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  filter: brightness(80%);
  align-items: center;
  margin: auto;
}

.ads > img {
  width: 20%;
  height: 20%;
}

footer {
  color: white;
  margin: auto;
  text-align: center;
  padding: 2%;
}

footer > h1 {
  font-size: 18px;
  font-family: "Major Mono Display", monospace;
}

.homeBanner__square4:hover {
  filter: contrast(80%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.dealDay,
.newArrival,
.bestSeller:hover {
  cursor: pointer;
}
